/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --filter-border-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}

header,
footer {
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites .card {
  padding: 0;
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

article h3 {
  font-size: 16px;
  font-weight: 700;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** header ******/
header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 160px;
  height: 100%;
}

.header-logo img {
  width: 60px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 250px;
  height: 100%;
}

.header-menu div {
  position: relative;
  height: 100%;
  padding-top: 15px;
}

.header-menu div a:hover {
  color: var(--main-color);
}

.header-menu a:hover::before {
  display: block;
  position: absolute;
  content: "";
  border-top: 2px solid var(--main-color);
  width: 100%;
  top: 0;
  border-color: var(--main-color);
}

/****** informations ******/
.informations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
  margin-bottom: 40px;
}

.informations-title h1 {
  margin-bottom: 8px;
  font-weight: 700;
}

.informations .filter-bar {
  display: flex;
  gap: 15px;
  align-items: center;
}

.informations .filter-bar button {
  display: flex;
  gap: 10px;
  height: 50px;
  align-items: center;
  padding: 4px 19px 4px 19px;
  border: 2px solid var(--filter-border-color);
  background-color: white;
  border-radius: 25px;
  font-weight: 700;
  font-size: 17px;
}

.informations .filter-bar button:hover {
  background-color: var(--filter-bg-color);
}

/****** search bar ******/
.search-bar {
  display: flex;
  height: 49px;
  width: 377px;
  justify-content: space-between;
}

.search-bar .location i {
  color: #000;
}

.search-bar .location {
  background-color: var(--main-bg-color);
  border: 1px;
  border-radius: 15px 0 0 15px;
  width: 50px;
}

.search-bar button:hover {
  cursor: pointer;
}

.search-bar input {
  border: 1px solid var(--main-bg-color);
  border-color: var(--main-bg-color);
  width: 195px;
  outline: none;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.search-bar .search-button {
  width: 132px;
  border: 1px;
  border-radius: 0 15px 15px 0;
  background-color: var(--main-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 16px;
}

/****** info bar ******/

.info-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-bar .info-circle {
  width: 24px;
  height: 24px;
  border: 1px solid var(--main-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
}

.hebergements a {
  width: 30%;
  margin-top: 33px;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
}

.hebergements-cards img {
  height: 120px;
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  padding: 0 15px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.more p {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activites ******/
.activites-container {
  padding: 30px;
  width: 100%;
  margin-bottom: 40px;
}

.activites {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.activites-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  height: 440px;
}

.activites-cards a {
  width: 25%;
  height: 100%;
}
.activites-cards .card {
  height: 100%;
}

.activites img {
  width: 100%;
  height: 86%;
  border-radius: 15px 15px 0 0;
}

.activites .card-content {
  height: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 19px;
}

/****** footer ******/
footer {
  position: relative;
  bottom: 0;
  height: 163px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-bg-color);
}

footer div {
  width: 33%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
}

footer p {
  font-size: 18px;
  font-weight: 700;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
