/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --filter-border-color: #d9d9d9;
  --footer-height: 163px;
  --footer-height-mobile: 375px;
}

.fa-solid {
  color: var(--main-color);
}

header,
footer {
  font-family: "Raleway", sans-serif;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  padding-bottom: var(--footer-height);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.card {
  background-color: white;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 5px;
  -webkit-filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
.card:hover {
  -webkit-filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.activites .card {
  padding: 0;
}

.card img {
  -o-object-fit: cover;
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

article h3 {
  font-size: 16px;
  font-weight: 700;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** header ******/
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-logo {
  align-self: center;
  width: 160px;
  height: auto;
}

.header-logo img {
  width: 60px;
}

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  width: 250px;
  height: 100%;
}

nav a {
  position: relative;
  height: 100%;
  padding-top: 15px;
}

nav a:hover {
  color: var(--main-color);
}

nav a:hover::before {
  display: block;
  position: absolute;
  content: "";
  border-top: 2px solid var(--main-color);
  width: 100%;
  top: 0;
  border-color: var(--main-color);
}

/****** informations ******/
.informations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 280px;
  margin-bottom: 40px;
}

.informations-title h1 {
  margin-bottom: 8px;
  font-weight: 700;
}

.informations .filter-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 750px;
}

.informations .filter-bar .filter-title {
  width: 10%;
}

.informations .filter-bar .filter-title p {
  font-weight: 700;
  font-size: 18px;
}

.informations .filter-bar .filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
}

.informations .filter-bar button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  height: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 19px 4px 19px;
  border: 2px solid var(--filter-border-color);
  background-color: white;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 17px;
}

.informations .filter-bar button:hover {
  background-color: var(--filter-bg-color);
}

/****** search bar ******/
.search-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 49px;
  width: 377px;
  max-width: 377px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid var(--main-bg-color);
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.search-bar .location i {
  color: #000;
}

.search-bar .location {
  background-color: var(--main-bg-color);
  border: 1px;
  -webkit-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
  width: 50px;
}

.search-bar button:hover {
  cursor: pointer;
}

.search-bar input {
  border-color: var(--main-bg-color);
  border: none;
  width: 195px;
  outline: none;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.search-bar input::-webkit-input-placeholder {
  color: #000;
}

.search-bar input::-moz-placeholder {
  color: #000;
}

.search-bar input:-ms-input-placeholder {
  color: #000;
}

.search-bar input::-ms-input-placeholder {
  color: #000;
}

.search-bar input::placeholder {
  color: #000;
}

.search-bar input:focus::-webkit-input-placeholder {
  color: #aaa;
}

.search-bar input:focus::-moz-placeholder {
  color: #aaa;
}

.search-bar input:focus:-ms-input-placeholder {
  color: #aaa;
}

.search-bar input:focus::-ms-input-placeholder {
  color: #aaa;
}

.search-bar input:focus::placeholder {
  color: #aaa;
}

.search-bar button {
  border: 1px;
  color: #fff;
  background-color: var(--main-color);
  padding: 15px 16px;
}

.search-bar .search-button {
  width: 132px;
  -webkit-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
  font-size: 18px;
  font-weight: 700;
}

.search-bar .search-button-mobile i {
  color: #fff;
}

.search-bar .search-button-mobile {
  display: none;
  width: 50px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/****** info bar ******/

.info-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.info-bar .info-circle {
  width: 24px;
  min-width: 24px;
  height: 24px;
  border: 1px solid var(--main-bg-color);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hebergements a {
  width: 30%;
  margin-top: 33px;
  min-width: 200px;
}

.hebergements-cards .card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hebergements-cards img {
  height: 120px;
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  padding: 0 15px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.more p {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.populaires-cards .card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activites ******/
.activites-container {
  padding: 30px;
  width: 100%;
  margin-bottom: 40px;
}

.activites {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
}

.activites-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  height: 440px;
}

.activites-cards a {
  width: 25%;
  height: 100%;
}
.activites-cards .card {
  height: 100%;
}

.activites img {
  width: 100%;
  height: 86%;
  -webkit-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
}

.activites .card-content {
  height: 14%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 19px;
}

/****** footer ******/
footer {
  position: absolute;
  bottom: 0;
  height: var(--footer-height);
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--main-bg-color);
}

footer div {
  width: 33%;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  gap: 15px;
}

footer p {
  font-size: 18px;
  font-weight: 700;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites-cards {
    height: 270px;
  }

  .activites-cards img {
    height: 75%;
  }

  .activites-cards .card-content {
    height: 25%;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
  .main-container {
    padding: 0;
  }

  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 30px;
  }

  .header-logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 30px;
  }

  nav {
    height: 36px;
    width: 100%;
  }

  nav a {
    width: 50%;
    text-align: center;
    padding-top: 0;
  }

  nav a p {
    width: 100%;
    height: 100%;
  }

  nav a:hover::before {
    top: initial;
    bottom: 0;
  }

  .informations {
    padding: 0 15px;
    row-gap: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }

  .informations .filter-bar {
    display: block;
    width: 100%;
  }

  .informations .filter-bar .filters {
    margin-top: 15px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 15px;
    width: 100%;
  }

  .filters .filter {
    width: 170px;
  }

  .filters .filter button {
    width: 100%;
  }

  .search-bar {
    width: 100%;
  }

  .search-bar input {
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
  }

  .search-bar .search-button-mobile {
    display: block;
  }

  .search-bar .search-button {
    display: none;
  }

  .hebergements-and-populaires {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .hebergements-and-populaires section {
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  .hebergements-and-populaires section:nth-child(1) {
    background-color: white;
  }

  .populaires {
    margin-top: 0;
  }

  .populaires-cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hebergements-cards a,
  .populaires-cards a {
    width: 95%;
  }

  .activites-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .activites-cards a {
    width: 90%;
    height: 200px;
  }

  main {
    padding-bottom: var(--footer-height-mobile);
  }

  footer {
    height: var(--footer-height-mobile);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px 30px;
  }

  footer div {
    width: 100%;
  }
}
